
span.haplo-file-thumbnail-container {
    display: inline-block;
    width: 76px;
    text-align: right;
}

span.haplo-file-download-not-permitted {
    display: inline-block;
    margin: 0 0 6px 0;
    font-style: italic;
}

img.haplo-file-default-thumbnail,
img.haplo-file-thumbnail {
    margin: 1px 12px 1px 0px;
}

img.haplo-file-thumbnail {
    border: 1px solid #bbb;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

/* ---------------------------------------------------------------------- */
/* forms */

.panel .oforms-repetition + .oforms-repetition {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid #ddd;
}
