
.z__std_reporting_list_multiple_object_filter_container {
    margin-right: 5px;
    border-top: 1px solid #eee;
    display: inline-block;
    max-width: 100%;
}

.z__std_reporting_list_multiple_object_filter_container.active {
    display: block;
}
.z__std_reporting_list_multiple_object_filter_select {
    display: none;
}

.z__std_reporting_multiselect_source::placeholder {
    color: inherit;
}
.z__std_reporting_multiselect_source {
    text-indent: 8px;
    appearance: menulist;
    -webkit-appearance: menulist;
    margin-left: 0.5px;
    max-width: 100%;
}

.z__std_reporting_list_multiple_object_filter_operator {
    width: 100%;
    text-align: left;
    display: none;
}
.z__std_reporting_list_multiple_object_filter_operator.active {
    display: block;
}

.z__std_reporting_list_multiple_object_filter_operator label {
    display: inline;
    margin-right: 10px;
}

.z__std_reporting_multiselect_display_item {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 2px 2px 2px 1px;
    display: inline-block;
    padding-left: 7px;
}

.z__std_reporting_list_multiple_object_filter_operator label,
.z__std_reporting_multiselect_display_item {
    font-size: 11px;
    line-height: 13px;
    font-family: system-ui;
}

/* More a button than a link so no need to display specially */
a.z__std_reporting_multiselect_remove_item,
a.z__std_reporting_multiselect_remove_item:visited {
    color: #757575;
    margin-right: 5px;
}