
.z__std_reporting_list_multiple_object_filter_container {
    margin-right: 5px;
    border-top: 1px solid #eee;
}

.z__std_reporting_list_multiple_object_filter_select {
    display: none;
}
.z__std_reporting_list_multiple_object_filter_operator {
    width: 100%;
    text-align: left;
    display: inline;
}

.z__std_reporting_list_multiple_object_filter_operator label {
    display: inline;
    margin-right: 10px;
}
.z__std_reporting_list_multiple_object_filter_operator span {
    margin-right: 10px;
}

.z__std_reporting_multiselect_display_item {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 2px 2px 2px 0px;
    display: inline-block;
}

/* More a button than a link so no need to display specially */
a.z__std_reporting_multiselect_remove_item,
a.z__std_reporting_multiselect_remove_item:visited {
    color: #757575;
    margin-right: 5px;
    vertical-align: middle
}